.header {
  display: flex;
  width: auto;
  height: 6rem;
  background-color: #e2d6d5;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  text-wrap: nowrap;
  gap: 0.5rem;
  margin-left: 10px;
  font-size: 1.5rem;
}

.header-link {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #2a1f1d;
  transition:
    transform 0.5s ease,
    filter 0.5s ease,
    background-color 0.5s ease;
}

.header-link:hover,
.header-link:focus-visible {
  background-color: #cfbcba;
}

.pagecontent{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middlebox{
  padding: 10px;
  width: 40%;
  background-color: #e2d6d5;
  text-align: center;
  border-radius: 10px;
}

  .button {
    background-color: rgb(11, 64, 117);
    color: white;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }

@media (prefers-reduced-motion: no-preference) {
  .header-link:hover,
  .header-link:focus-visible {
    transform: scale(1.03);
  }
}

.rida{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

form > div {
  margin-bottom: 20px;
}

form > div:last-child {
  margin-bottom: 0;
}

#pfp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

#pfp img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-layout {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin: 10px;
  column-gap: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main-layout > div {
  background-color: #f5f0f0;
  border-radius: 6px;
  height: 100%;
  width: 100%;
}

/* Minimal CSS Reset */
*,
*::before,
*::after {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
